<% layout('layouts/list') %>
<style>
    .margin-10 {
        margin-top: 20px
    }
</style>
<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">Report Detail</h4>
        <ol class="breadcrumb">
            <li>
                <a href="/">Dashboard</a>
            </li>
            <li>
                <a href="/report">Reports</a>
            </li>
            <li class="active">Report Detail</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="card-box">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-4 col-sm-12 margin-10">
                    <b>Problem Type</b>
                    <p><%= `${report.problem_list_id.name}` %></p>
                </div>
                <div class="col-lg-4 col-sm-12 margin-10">
                    <b>User Name</b>
                    <p><%= `${report.user_id.first_name} ${report.user_id.middle_name || ''} ${report.user_id.last_name || ''}` %></p>
                </div>
                <div class="col-lg-4 col-sm-12 margin-10">
                    <b>Reported On</b>
                    <p><%= moment(report.created).format("MMM Do YYYY") %></p>
                </div>
                <div class="col-lg-12 col-sm-12 margin-10">
                    <b>Comment</b>
                    <p><%= `${report.comment}` %></p>
                </div>
            </div>
        </div>
    </div>
</div>