<% layout('layouts/admin') %>
<div class="col-md-12">
    <form class="form-horizontal" method="post" role="form" action="" name="SubIndustryForm" id="SubIndustryForm">
        <div class="card ">
            <div class="card-header">
                <% include ../elements/flash.ejs %>
            </div>
            <div class="card-body">
                <div class="row">
                    <label class="col-sm-2 col-form-label">Name <star class="star">*</star></label>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <input class="form-control" type="text" name="name" required="true" placeholder="Enter Name" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <button type="submit" class="btn btn-info" id = "submitBtn">Save</button>
            </div>
        </div>
    </form>
</div>
<script>
    $(document).ready(function() {
        App.validateSubIndustryPage();
    })
</script>