<% layout('layouts/list') %>
<div class="row">
    <div class="col-sm-12">  
        <h4 class="page-title">Pages Listing</h4>
        <ol class="breadcrumb">
            <li>
                <a href="/">Dashboard</a>
            </li>
            <li class="active">Pages List</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="card-box table-responsive">
        <h4 class="m-t-0 header-title m-b-30"><b>Pages Listing</b></h4>
        <!-- <input type="checkbox" class="disableUser"   checked /> -->
        <table id="datatable-pages-list" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th class="nosort">S.No.</th>
                <th>Title</th>
                <th class="nosort">Actions</th>
           </tr>
            </thead>
            <tbody>
            </tbody>
        </table>       
    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->
