<% layout('layouts/list') %>
<div class="row">
    <div class="col-sm-12">
        <div class="btn-group pull-right m-t-15">
            <a href="/report/problem/add" class="btn btn-default dropdown-toggle waves-effect waves-light">Add Problem Type<span class="m-l-5"><i class="fa fa-plus"></i></span></a>
        </div>
        <h4 class="page-title">Problem Type Listing</h4>
        <ol class="breadcrumb">
            <li>
                <a href="/">Dashboard</a>
            </li>
            <li class="active">Problem Type List</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="card-box table-responsive">
        <h4 class="m-t-0 header-title m-b-30"><b>Problem Type Listing</b></h4>
        
        <table id="datatable-problem-list" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th class="nosort">S.No</th>
                <th>Problem Type</th>
                <th>Created Date</th>
                <th>Status</th>
                <th class="nosort">Action</th>
           </tr>
            </thead>
            <tbody> 
            </tbody>

        </table>       
    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->
