<% layout('layouts/list') %>
<div class="row">
    <div class="col-md-12">
        <div class="card data-tables">
            <div class="card-header ">
                <% include ../elements/flash.ejs %>
                <a href="<%= admin_url %>subscription-package/add" class="btn btn-wd btn-info btn-outline pull-right">
                    <span class="btn-label">
                        <i class="fa fa-plus"></i>
                    </span>
                    Add Subscription
                </a>
            </div>
            <div class="card-body table-striped table-no-bordered table-hover dataTable dtr-inline table-full-width">
                <div class="toolbar">
                </div>
                <div class="fresh-datatables">
                    <table id="datatable-packages-history-list" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th class="nosort">S.No.</th>
                                <th>Name</th>
                                <th>Verified Contact</th>
                                <th>No. Of Email</th>
                                <th>Price</th>
                                <th>Status</th>
                                <th class="nosort">Actions</th>
                           </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        App.listPackageRecords();
    })
</script>