<% layout('layouts/login') %>
<div class="wrapper-page">
            <div class=" card-box">
                <div class="panel-heading text-center">
                    <img style="margin-right: 15px" alt="Props2" src="/images/logo.png" height="40" />
                    <h3 class="text-center"> Reset Password</h3>
                </div>

                <div class="panel-body">
                    <% if (!isError) { %>
                    <form method="post" role="form" class="form-horizontal m-t-20" id="changePasswordForm">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control" type="password" required placeholder="New password" name="password" id="password">
                                <div class="password"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control" type="password" required placeholder="Confirm password" name="confirm_password">
                                <div class="confirm_password"></div>
                            </div>
                        </div>
                        <div class="form-group text-center m-t-40">
                            <div class="col-xs-12">
                                <button class="btn btn-primary btn-block text-uppercase waves-effect waves-light" type="submit">Reset Password</button>
                            </div>
                        </div>

                    </form>
                    <% } %>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <p>Already have an account? <a href="/login" class="text-primary m-l-5"><b>Sign In</b></a>
                    </p>

                </div>
            </div>
        </div>
<script>
    $(document).ready(function () {
        $("#changePasswordForm").validate({
            errorPlacement: function (error, element) {
                const name = $(element).attr("name");
                error.appendTo($("." + name));
            },
            submitHandler: function (form) {
                $('#submit_btn').attr('disabled', 'disabled');
                form.submit();
            },
            rules: {
               password: {
                    required: true,
                    minlength: 8,
                    pattern: /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}/
                },
                confirm_password: {
                    required: true,
                    equalTo: '#password'
                }
            },
            messages: {
                password: {
                    required: 'New password is required',
                    minlength: 'New password is required to be minimum 8 chars',
                    pattern: 'New password must contain a small, capital letter, a special char & one digit'
                },
                confirm_password: {
                    required: 'Confirm password is required',
                    equalTo: 'Confirm password & new password must match',
                }
            }
        });
    })
</script>