<% layout('layouts/admin') %>
<div class="col-md-12">
    <form class="form-horizontal" method="post" role="form" action="" name="subAdminForm" id="subAdminForm">
        <div class="card ">
            <div class="card-header">
                <% include ../elements/flash.ejs %>
            </div>
            <div class="card-body ">
                <div class="row">
                    <label class="col-sm-2 col-form-label">Name <star class="star">*</star></label>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <input class="form-control" type="name" name="name" required="true" placeholder="Enter Name" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 col-form-label">Company Name <star class="star">*</star></label>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <input class="form-control" type="text" name="companyName" required="true" placeholder="Enter Company Name" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 col-form-label">Designation<star class="star">*</star></label>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <input class="form-control" type="text" name="designation" required="true" placeholder="Enter Designation" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 col-form-label">Website<star class="star">*</star></label>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <input class="form-control" type="text" name="website" required="true" placeholder="Enter Website" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 col-form-label">Email <star class="star">*</star></label>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <input class="form-control" type="email" email = "true" name="emailID" required="true" placeholder="Enter Email" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 col-form-label">Country Code: <star class="star">*</star></label>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <input class="form-control" type="text" name="phoneNumber_code" required="true" placeholder="Enter Country code" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 col-form-label">Phone Number: <star class="star">*</star></label>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <input class="form-control" type="text" name="phoneNumber" required="true" placeholder="Enter Phone Number" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 col-form-label">Password <star class="star">*</star></label>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <input class="form-control" type="text" name="passwordString" required="true" placeholder="Enter Password" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 col-form-label">Role <star class="star">*</star></label>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <select name="subAdminRole" class="selectpicker" data-title="Select Role" data-style="btn-default btn-outline" data-menu-style="dropdown-blue">
                                <% roles.map(role => { %>
                                    <option value="<%= role._id %>"><%= role.title %></option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <button type="submit" class="btn btn-info" id = "submitBtn">Save</button>
            </div>
        </div>
    </form>
</div>
<script>
    $(document).ready(function() {
        App.validateAddSubAdminPage();
    })
</script>