<% layout('layouts/list') %>
<div class="row">
    <div class="col-md-12">
        <div class="card data-tables">
            <div class="card-header ">
                <% include ../../elements/flash.ejs %>
            <a href="<%= admin_url %>subadmin-role/add" class="btn btn-wd btn-info btn-outline pull-right">
                <span class="btn-label">
                    <i class="fa fa fa-plus"></i>
                </span>
                Add Role
            </a>
            </div>
            <div class="card-body table-striped table-no-bordered table-hover dataTable dtr-inline table-full-width">
                <div class="toolbar">
                </div>
                <div class="fresh-datatables">
                    <table id="datatable-sub-admin-roles-list" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th class="nosort">S.No.</th>
                                <th>Title</th>
                                <th>Added On</th>
                                <th class="nosort">Actions</th>
                           </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        App.listRoleRecords();
    })
</script>