<% layout('layouts/login') %>
<div class="account-pages"></div>
<div class="clearfix"></div>
<div class="wrapper-page">
    <div class="ex-page-content text-center">
        <div class="text-error"><i class=" ti-thumb-up  text-pink"></i></div>
        <h2>Success</h2>
        <br>
        <p class="text-muted">New Password has been sent to registered mobile number.</p>
        
    </div>
</div>
 